/***** CSS *******/

*{
	margin: 0;
	padding: 0;
	background-color: #F3F3F3;
}

/***** Title *******/

h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	/* identical to box height */
	color: #121417;
}

h2{
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 117%;
	/* or 37px */
	letter-spacing: -0.03em;
	color: #606060;
	text-align: left;
	margin-top: 100px;
}

h3{
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 97.2%;
	/* or 58px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
}

/***** Paragraph *******/

p {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}

.container .card .description{
    position: relative;
    margin: 0px 0px 20px 0px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/***** Paragraphe - DIV *******/

.header_paragraph{
	width: 100%;
	height: 300px;
	display: block;
	margin-bottom: 0px;
	margin-top: 25px;
}

/***** Header *******/

.main_head{
	color: #181717;
}

a{
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	/* or 58px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
	text-decoration: none;
}

a {
	display: inline-block;
	position: relative;
	color: #181717;
  }

a:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #181717;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
  
a:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

nav{
	min-height: 10vh;
	display: flex;
	align-items: center;
	width: 70%;
	margin: auto;
	margin-bottom: 80px;
	padding: 2rem;
}

nav ul{
	display: flex;
	flex: 1 1 25rem;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}

#logo{
	flex: 2 1 40rem;
}

/***** Images *******/

.container{
    position: relative;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
}

.container .card{
    position: relative;
    max-width: 1150px;
    margin: 0px 0px 200px 0px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/***** Footer *******/

footer{
	height: auto;
	padding-top: 40px;
	padding-bottom: 100px;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer-content h2{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
	/* identical to box height */
	color: #121417;
	margin-bottom: 10px;
}

.footer-content p {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}

/***** Images - Texte *******/

.container .card .content h2{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 121.5%;
	margin: 0px 50px 10px 0px;
	text-align: left;
	/* or 22px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
}

.container .card .content p{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.5%;
	margin: 0px 0px 0px 0px;
	text-align: left;
	/* or 22px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
}

.container .card .content ul{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.5%;
	text-align: left;
	/* or 22px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
}

/***** Images - End Texte *******/

.container .card .imgBx{
	max-width: 720px;
	flex: 0 0 600px;
	margin: 0px 0px 0px 50px;
}

.container .card .imgBx img{
	max-width: 100%;
	border-radius: 20px;
}

.container .card .imgBx img { 
	transition: all .2s ease-in-out; 
}

.container .card .imgBx img:hover { 
    transform: scale(1.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

.container .card .content{
	margin-left: 15px;
}

@media (max-width: 991px){
	.container{
		flex-direction: column;
	}
}

@media (max-width: 768px){
	.container{
		flex-direction: column;
	}
	.container .card{
		flex-direction: column;
		max-width: 350px;
	}
	.container .card .imgBx{
		max-width: 100%;
	}
	.container .card .content{
		margin-left: 0px;
	
	}
}