/***** CSS *******/

*{
	margin: 0;
	padding: 0;
}

/***** Title *******/

h1 {
	margin-top: 15px;
	margin-bottom: 10px;
	font-weight: bold;
    text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}

h2,h3{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

/***** Paragraph *******/

p {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

pl {
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

al {
    text-decoration: none;
    color: #008CBA;
}

/***** Header *******/

.header{
	width: 100%;
	height: 80px;
	display: block;
	background-color: #101010;
}

.inner_header{
	width: 1350px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	color: aliceblue;
}

.navigation{
	float: right;
	height: 100%;
}

.navigation a{
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
}

.navigation a:last-child{
	padding-right: 0;
}

.navigation a li{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	color: aliceblue;
}

.navigation li button{
	display: table-cell;
	vertical-align: middle;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-style: normal;
	color: aliceblue;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
}