/***** CSS *******/

*{
	margin: 0;
	padding: 0;
	background-color: #F3F3F3;
}

/***** Title *******/

h1 {
	/* Text */
	font-family: 'DM Sans', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	line-height: 97.2%;
	/* or 58px */
	letter-spacing: -0.03em;
	color: #181717;
}

h2,h3{
	font-family: 'Rubik', sans-serif;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}

/***** Paragraph *******/

p {
	margin-left: 50px;
	margin-right: 50px;
	text-align: center;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}

/***** Paragraphe - DIV *******/

.header_paragraph{
	width: 100%;
	height: 300px;
	display: block;
	margin-bottom: 0px;
	margin-top: 25px;
}

/***** Header *******/

.header{
	width: 100%;
	height: 80px;
	display: block;
}

.inner_header{
	width: 1350px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo_container{
	height: 100%;
	display: table;
	float: left;
}

.logo_container h1{
	font-family: 'Rubik', sans-serif;
	font-size: 35px;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.navigation {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	height: 100%;
	float: right;
	height: 100%;
	list-style: none;
}

.navigation a:last-child{
	padding-right: 0;
}

.navigation a li{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
	color: aliceblue;
}

.navigation li a {
	height: 100%;
	display: table;
	float: left;
	padding: 0px 20px;
	display: table-cell;
	vertical-align: middle;
	font-family: 'DM Sans', sans-serif;
	font-size: 18px;
	font-style: normal;
	color: aliceblue;
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	text-decoration: none;
}

/***** Images *******/

.container{
	position: relative;
	width: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	width: 100%;
}

.container .card{
	position: relative;
	max-width: 1000px;
	margin: 200px 0px 0px 0px;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: top;
}

/***** Images - Texte *******/

.container .card .content h2{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 121.5%;
	text-align: left;
	margin: 0px 50px 10px 0px;
	/* or 22px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
}

.container .card .content p{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.5%;
	text-align: left;
	margin: 0px 0px 0px 0px;
	/* or 22px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
}

.container .card .content ul{
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 121.5%;
	text-align: left;
	/* or 22px */
	letter-spacing: -0.03em;
	/* Main Black */
	color: #181717;
}

/***** Images - End Texte *******/

.container .card .imgBx{
	max-width: 720px;
	flex: 0 0 600px;
	margin: 0px 50px 0px 0px;
}

.container .card .imgBx img{
	max-width: 100%;

}

.container .card .content{
	margin-left: 15px;

}

@media (max-width: 991px){
	.container{
		flex-direction: column;
	}
}

@media (max-width: 768px){
	.container{
		flex-direction: column;
	}
	.container .card{
		flex-direction: column;
		max-width: 350px;
	}
	.container .card .imgBx{
		max-width: 100%;
	}
	.container .card .content{
		margin-left: 0px;
	
	}
}